*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
body{
  background-color: #121212;
}
.logo{
  color: rgb(151, 151, 151);
}
.list{
  background-color: antiquewhite;
  margin: 20px;
  border-radius: 15px;
  padding: 20px;
}
.movies{
  text-align: center;
  margin-bottom: 20px;
}
.type{
  margin-bottom: 10px;
}
.movie{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
}
.type{
  display: flex;
  justify-content: space-between;
}